@import '../../styles/mixin';
:host{
    display:block;
    max-width: 100%;

    .action-bar {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    .gallery-root{
        display:flex;
        flex-wrap: wrap;
        min-height:50vh;
        @include for-mobile{
            justify-content: space-between;
        }
    }
}

sky-filter{
    flex-grow:1;
}
sky-theme{
    margin-left:1rem;
}

hr{
    border-color:rgb(var(--text50));
    border-style: solid;
    border-width: 0 0 .1rem 0;
    border-color: rgb(var(--text50));
    margin:1rem 0;
}
