

:host{
    display: block;
    position: sticky;
    z-index:1;
    top: 0;
    padding:1rem 0;
    box-sizing: border-box;
    background: rgba(var(--background), .75);
}

.field{
    font-size:1.5rem;
    padding:.5rem;
    width: 100%;
    box-sizing: border-box;
    background: rgb(var(--input));
    color:rgb(var(--background));
    outline: none;
    border:solid .1rem rgb(var(--text50));
}