$breackpoint: 480px;

@mixin for-mobile {
    @media screen and (max-width: $breackpoint){
        @content;
    }
}


@mixin for-desktop {
    @media screen and (min-width: $breackpoint + 1){
        @content;
    }
}


@mixin picFrame($width: 100%, $heigth:100%){
    display: flex;
    align-items: center;
    justify-content: center;
    height: $heigth;
    width: $width;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
    box-sizing: border-box;
}

@mixin shadow{
    box-shadow: .1rem .1rem .25rem var(--contrast);
    border-radius: .1rem;
    will-change: box-shadow;
    &:hover{
        box-shadow: 0 0 1rem var(--text100);
    }
}